*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 62.5%;
}
ul li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}
a{
    text-decoration: none;
    color: rgb(6, 7, 7);
}
/*-----LAYOUT-----*/
.entrevistas{
    grid-area: entrevistas;
}
.ultima-entrevista{
    grid-area: ultima-entrevista;
}
.destaque{
    grid-area: destaque;
}
.news{
    grid-area: news;
}

.mundo{
    grid-area: mundo;
}
.noticias-recentes{
    grid-area: noticias-recentes;
}
.rodape{
    grid-area: rodape;
}